* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.wrapper {
  max-width: 960px;
  padding: 0 4%;
  text-align: center;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

#header img {
  max-width: 100%;
}

ul {
  display: flex;
  padding: 10px 0;
}

#header li a {
  color: #24292e;
}

#header li {
  margin-left: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}